<h1 style="text-align: center;">Adicionar Jogos</h1>

<hr/>
<form>
  <table style="margin: auto;">
    <tr>
      <td><div *ngIf="categoria == 'Jogo de cartas' " style="background-color: red;"> Atenção: A idade minima para jogar é 10 anos de idade. </div></td>
      </tr>
      <tr>
        <td><div *ngIf="categoria == 'Jogo de tabuleiro'" style="background-color: red;"> Atenção: O jogo necessecita de no minímo 2 participantes.</div></td>
        </tr>
        
    <tr>
      <td>Categoria do Jogo:</td>
      <td><input type="text" name="categoria" [(ngModel)]="categoria"></td>
    </tr>
    <td>Idade Jogador</td>
    <td><input type="text" name="idade" [(ngModel)]="idade_jogador"></td>
    <tr>
    <td>Tipo de Jogo:</td>
    <td><input type="text" name="tipoJogo" [(ngModel)]="tipo_jogo"></td>
    </tr>
    <tr>
      <td>Quantidade de Jogadores: </td>
      <td><input type="text" name="qtdJogador" [(ngModel)]="qtd_jogadores"></td>
    </tr>
    <tr>
      <td>Ano de Publicação:</td>
      <td><input type="text" name="AnoPubli" [(ngModel)]="ano_publicacao"></td>
    </tr>
    <tr>
      <td>Título:</td>
      <td><input type="text" name="titulo" [(ngModel)]="titulo"></td>
    </tr>
    <tr>
      <td>Fabricante:</td>
      <td><input type="text" name="fabricante" [(ngModel)]="fabricante"></td>
    </tr>
    <tr>
      <td colspan="2">
        <button (click)="adcionarItem()">Adicionar</button>
      </td>
    </tr>
  </table>
</form>
<hr/>
<table>
  <tr>
    <th>Categoria do Jogo</th>
    <th>Idade do Jogador</th>
    <th>Tipo de Jogo</th>
    <th>Quantidade de Jogadores</th>
    <th>Ano de Publicação</th>
    <th>Título</th>
    <th>Fabricante</th>
    <th>Remover</th>
  </tr>
  @for (item of todososjogos.itens; track item.codigo; let indice =  $index) {
    <tr>
      <td>{{ item.categoria }}</td>
      <td>{{ item.idade_jogador }}</td>
      <td>{{ item.tipo_jogo }}</td>
      <td>{{ item.qtd_jogadores }}</td>
      <td>{{ item.ano_publicacao }}</td>
      <td>{{ item.fabricante }}</td>
      <td><button (click)="removerItem(indice)">Remover</button></td>
    </tr>
  } @empty {
    <tr>
      <td colspan="2">Nenhum jogo adicionado até o momento...</td>
    </tr>
  }
</table>